.logoContainer {
    img {
        position: relative;
        width: 60px !important;
        height: 60px !important;
        right: 20px;
    }
}

.navbar {
    border-bottom: 1px solid rgb(224, 223, 223);
}

.paragraph {
    font-size: 24px;
    font-weight: 500;
    color: #4a4a4a;
}